<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Board List</title>
    <link rel="stylesheet" th:href="@{/css/base.css}" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
    <div class="container">
        <div class="page-header">
            <h1>게시글 목록</h1>
        </div>

        <div class="pull-right" style="width:100px;margin:10px 0;">
            <a href="/board/writeView" class="btn btn-primary btn-block">글쓰기</a>
        </div>
        <br/><br/><br/>

        <div id="mainHide">
            <table class="table table-hover">
                <thread>
                    <tr>
                        <th class="col-md-1">#</th>
                        <th class="col-md-5">제목</th>
                        <th class="col-md-2">작성 날짜</th>
                    </tr>
                </thread>
                <tbody>
                <tr th:each="board : ${boardList}">
                    <td th:text="${board.boardIdx}"></td>
                    <td>
                        <a th:href="'/board?boardIdx='+${board.boardIdx}"th:text="${board.title}"><</a>
                    </td>
                    <td th:text="${#temporals.format(board.createdDate,'yyyy-MM-dd HH:mm')}"></td>
                </tr>
                </tbody>
            </table>
        </div>

        <nav aria-label="Page navigation" style="text-align:center;">
            <ul class="pagination"
                th:with="startNumber=${T(Math).floor(boardList.number/10)}*10+1,
                        endNumber=(${boardList.totalPages} > ${startNumber}+9) ?
                            ${startNumber}+9 : ${boardList.totalPages}">
                <li><a href="/board/list?page=1">&laquo;</a></li>
                <li th:style="${boardList.first} ? 'display:none'">
                    <a th:href="@{/board/list(page=${boardList.number})}">&lsaquo;</a>
                </li>
                <li th:each="page :${#numbers.sequence(startNumber, endNumber)}"
                    th:class="(${page} == ${boardList.number}+1) ? 'active'">
                    <a th:href="@{/board/list(page=${page})}" th:text="${page}">
                        <span class="sr-only"></span>
                    </a>
                </li>
                <li th:style="${boardList.last} ? 'display:none'">
                    <a th:href="@{/board/list(page=${boardList.number}+2)}">&rsaquo;</a>
                </li>
                <li>
                    <a th:href="@{/board/list(page=${boardList.totalPages})}">&raquo;</a>
                </li>
            </ul>
        </nav>

    </div>
</body>
</html>