<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>게시글 열람</title>
    <link rel="stylesheet" th:href="@{/css/base.css}" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
</head>

<body>
    <div class="container">
        <div class="page-header">
            <h1>게시글 열람</h1>
        </div>
        <br/>

        <input id="board_idx" type="hidden" th:value="${board?.boardIdx}"/>

        <table class="table">
            <tr>
                <th style="padding:13px 0 0 15px">작성 날짜</th>
                <td th:text="${#temporals.format(board?.createdDate,'yyyy-MM-dd HH:mm')}"></td>
            </tr>
            <tr>
                <th style="padding:13px 0 0 15px;">제목</th>
                <td th:text="${board?.title}"></td>
            </tr>
            <tr>
                <th style="padding:13px 0 0 15px;">내용</th>
                <td th:text="${board?.content}"></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
        </table>
        <div class="pull-left">
            <a href="/board/list" class="btn btn-default">목록으로</a>
        </div>
        <div class="pull-right">
            <a th:href="'/board/updateView?boardIdx='+${board.boardIdx}" class="btn btn-warning">수정</a>
            <button type ="button" class="btn btn-danger" id="delete">삭제</button>
        </div>
    </div>
</body>

<script th:src="@{/js/jquery.min.js}"></script>
<script>
    $('#delete').click(function() {
        $.ajax({
            url: "http://localhost:8080/board/" + $('#board_idx').val(),
            type: "DELETE",
            success: function() {
                alert('삭제 성공');
            },
            error: function() {
                alert('삭제 실패');
            }
        })
    })
</script>

</html>