<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>게시글 수정</title>
    <link rel="stylesheet" th:href="@{/css/base.css}" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>

<div class="container">
    <div class="page-header">
        <h1>게시글 수정</h1>
    </div>
    <br/>

    <input id="board_idx" type="hidden" th:value="${board?.boardIdx}"/>

    <table class="table">
        <tr>
            <th style="padding:13px 0 0 15px;">제목</th>
            <td>
                <input id="board_title" type="text" class="col-md-1
                    form-control input-sm" th:value="${board?.title}"/>
            </td>
        </tr>
        <tr>
            <th style="padding:13px 0 0 15px;">내용</th>
            <td>
                    <textarea id="board_content" class="col-md-1 form-control
                        input-sm" maxlength="140" rows="7" style="height: 200px;"
                        th:text="${board?.content}"></textarea>
                <span class="help-block"></span>
            </td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
    </table>
    <div class="pull-left">
        <a href="/board/list" class="btn btn-default">목록으로</a>
    </div>
    <div class="pull-right">
        <button th:if="${board?.boardIdx}" type="button" class="btn btn-primary"
                id="update">수정</button>
    </div>
</div>

<script th:src="@{/js/jquery.min.js}"></script>
<script>
        $('#update').click(function() {
            var jsonData = JSON.stringify({
                title: $('#board_title').val(),
                content: $('#board_content').val(),
            });
            $.ajax({
                url: "http://localhost:8080/board/" + $('#board_idx').val(),
                type: "POST",
                data: jsonData,
                contentType: "application/json",
                dataType: "json",
                success: function() {
                    alert('수정 성공!');
                    location.href = '/board/list';
                },
                error: function() {
                    alert('수정 실패!');
                }
            });
        });
</script>
</body>
</html>